// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
.v-main__wrap {
    background-color: #E0F2F1;
    justify-content: center;
    display: flex;

  } 